@using BookBooks.Enums
@using BookBooks.Models

@model UsuarioModel
@{
    ViewData["Title"] = "Cadastro de Usuários";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<form asp-controller="Usuario" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="autor">* Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="0">Selecione:</option>
            <option value="@PerfilEnum.Admin">Admin</option>
            <option value="@PerfilEnum.Default">Default</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div>
    <div class="form-group">
        <label for="titulo">* Nome Completo</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome completo do usuário:">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="ano">* Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o email do usuário: ">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="autor">* Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário:">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-group">
        <label for="autor">* Senha</label>
        <input type="password" asp-for="Senha" class="form-control" placeholder="Digite a senha do usuário:">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>


    <br/>
    <button type="submit" class="btn btn-primary w-100 d-block" style="margin-bottom: 10px">Adicionar</button>
    <a class="btn btn-secondary w-100 d-block" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}