@using BookBooks.Models

@model List<LivroModel>
@{
    ViewData["Title"] = "Listagem de livros";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Livro" asp-action="AdicionarLivro">+</a>
    </div>
    <br/>

    <h1 class="display-4">@ViewData["Title"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Ano</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            foreach(LivroModel livro in Model)
                {
                    <tr>
                        <th scope="row">@livro.Id</th>
                        <td>@livro.Titulo</td>
                        <td>@livro.Autor</td>
                        <td>@livro.AnoPublicacao</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group">
                                <a role="button" class="btn btn-primary" asp-route-itemid="@livro.Id" asp-controller="Livro" asp-action="EditarLivro">Editar</a>
                                <a role="button" class="btn btn-danger open-delete-modal" asp-route-itemid="@livro.Id" data-url="@Url.Action("OpenDeleteModelPartial")">Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>

<div id="modal-placeholder"></div>

@section Scripts {
    <script>
        $(function () {
            $('.open-delete-modal').on('click', function () {
                var url = $(this).data('url');

                $('#modal-placeholder').load(url, function () {

                    var modalElement = $('#modal-placeholder').find('.modal');
                    var modalInstance = new bootstrap.Modal(modalElement[0]);
                    modalInstance.show();

                    // Opcional: limpa o placeholder quando o modal é fechado
                    modalElement.on('hidden.bs.modal', function () {
                        $('#modal-placeholder').empty();
                    });
                });
            });
        });
    </script>
}
